/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */
/* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */

.page {
  background-image: var(--bg-image);
  background-color: var(--color-background-primary);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.header {
  height: 100vh;
  min-height: 668px;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  padding: 10px;
}

.rec-indicator {
  display: block;
  position: absolute;
  right: 28px;
  color: var(--text-color);
  font-family: var(--font-family);
  font-size: var(--font-size);
  text-transform: uppercase;
  font-weight: var(--font-weight-article);
  margin: 10px;
}
.rec-indicator::after {
  content: "";
  position: absolute;
  margin-left: 10px;
  width: 9px;
  height: 9px;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
  background-color: var(--br-color);
  box-shadow: 0px 0px 4px 2px var(--br-color);
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 24px;
  height: 24px;
  border-top: 1px solid var(--decorative-element);
  border-right: 1px solid var(--decorative-element);
  pointer-events: none;
  margin: 10px;
}

.decorated-zone::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 24px;
  height: 24px;
  border-bottom: 1px solid var(--decorative-element);
  border-left: 1px solid var(--decorative-element);
  pointer-events: none;
  margin: 10px;
}

.header__theme-menu {
  grid-row: 1;
  justify-self: end;
  align-self: end;
  margin: 0px 0px 50px;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  list-style: none;
  width: 70px;
}

.header__theme-menu-button {
  background: transparent;
  border: 1px solid transparent;
  color: var(--br-color);
  padding: 0px 13px;
  margin: 0;
  cursor: pointer;
  /* text-decoration: none; */
  /* display: inline-block; */
  /* outline: none; */

}
.header__theme-menu-button:focus-visible{
  border-bottom: 1px solid var(--br-color);
  /* opacity: 40%;
  border-top: none;
  border-right: none;
  border-left: none; */
}



.header__theme-menu-button_active {
  border: 1px solid var(--text-color);
  pointer-events: none;
}
.header__theme-menu-button_active:focus {
  /* text-decoration: underline;  */
  outline: none;

}

.header__theme-menu-item {
  outline: none;
  color: var(--text-color);
  font-family: var(--font-family);
  font-weight: var(--font-weight-article);
  font-size: var(--font-size);
  line-height: var(--font-size);
  letter-spacing: 0%;
  text-align: center;
}

.title {
  grid-row: 2;
  justify-self: start;
  font-family: var(--font-family);
  font-weight: var(--font-weight-headings);
  font-size: var(--font-size-title);
  line-height: 83%;
  color: var(--title-color);
  text-shadow: var(--accent-color);
  margin-top: 12px;
}

.lead {
  grid-row: 3;
  justify-self: end;
  font-family: var(--font-family);
  font-weight: var(--font-weight-headings);
  font-size: var(--font-size);
  line-height: 23.4px;
  color: var(--text-color-title);
  background-color: var(--br-color);
  margin: 43px 0px 57px 0px;
  width: 100%;
}

.main {
  display: flex;
  flex-direction: column;
  margin: 40px 0px;
  padding: 0px 10px;
  gap: 50px;
}

.section {
  display: grid;
  gap: 20px;
  grid-template-rows: auto 1fr;
  grid-template-columns: 1fr 2fr;
  grid-template-areas:
    "title title"
    "content content";
}

.section_card {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex: 1;
}

.section__content {
  grid-area: content;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.section__title {
  font-family: var(--font-family);
  font-weight: var(--font-weight-headings);
  font-size: var(--font-size);
  line-height: 23.4px;
  color: var(--text-color-section);
  grid-area: title;
}

.section_card__title {
  font-family: var(--font-family);
  font-weight: var(--font-weight-headings);
  font-size: var(--font-size);
  line-height: 23.4px;
  color: var(--text-color-title);
}

.title-decor {
  background-color: var(--br-color);
}

.section_card__text {
  font-family: var(--font-family);
  font-weight: var(--font-weight-article);
  font-size: var(--font-size);
  line-height: 23.4px;
  color: var(--article-color);
}

.article-link {
  text-decoration: none;
  color: inherit;
  text-shadow: 2px 0px 0 var(--br-color);
  cursor: pointer;
}

.article-link:focus {
  border: 1px solid var(--text-color);
  padding: 2px 10px;
}

.section_card__subtitle {
  font-family: var(--font-family);
  font-weight: var(--font-weight-article);
  font-size: var(--font-size);
  line-height: 23.4px;
  color: var(--text-color-title);
  background-color: var(--br-color);
}

.image-container {
  display: grid;
  text-align: center;
  gap: 10px;
}

.image-container img {
  width: 100%;
}

.footer {
  height: 100vh;
  min-height: 667px;
  margin: 0px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (min-width: 768px) {
  .header {
    min-height: 1024px;
    grid-template-rows: 1fr 1fr 1fr;
    padding: 20px;
  }
  .rec-indicator {
    margin: 20px;
  }
  .decorated-zone::after,
  .decorated-zone::before {
    margin: 20px;
  }

  .header__theme-menu {
    margin-bottom: 61px;
  }
  .title {
    align-self: center;
    margin: 0px 0px 5px -20px;
    font-size: 120px;
  }

  .lead {
    align-self: start;
    width: 50%;
    margin-top: 48px;
  }

  .main {
    padding: 0px 20px;
    margin: 60px 0px;
    gap: 80px;
  }

  .section:nth-of-type(even) {
    grid-template-areas:
      "title . "
      " content content";
  }

  .section:nth-of-type(odd) {
    grid-template-areas:
      "title content"
      ".  content";
  }

  .image-container {
    margin-top: 10px;
    grid-template-rows: 0.8fr 1fr 1.4fr;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
  }

  .image-container img {
    height: 100%;
    object-fit: cover;
  }
  .image-container img:nth-child(1) {
    grid-column: 1/3;
    grid-row: 1;
  }
  .image-container img:nth-child(2) {
    grid-column: 3/4;
    grid-row: 1 / span 2;
  }
  .image-container img:nth-child(3) {
    grid-column: 1;
    grid-row: 2 / span 2;
  }
  .image-container img:nth-child(4) {
    grid-column: 2;
    grid-row: 2;
  }
  .image-container img:nth-child(5) {
    grid-column: 2 / span 2;
    grid-row: 3;
  }
  .footer {
    height: 100vh;
    min-height: 1024px;
    padding: 20px;
  }
  .footer .title {
    margin: 0;
  }
}

@media (min-width: 1024px) {
  .header {
    min-height: 728px;
  }
  .header__theme-menu {
    justify-self: center;
    align-self: start;
    margin: 3px;
  }
  .header__theme-menu-list {
    flex-direction: row;
    gap: 20px;
  }
  .title {
    font-size: 157px;
    margin-top: 3px;
  }
  .lead {
    margin-top: 58px;
  }

  .section:nth-of-type(even) .section__content {
    flex-direction: row;
  }

  .section:nth-of-type(odd) {
    gap: 10px;
  }
  .footer {
    min-height: 768px;
  }
}
