/*


  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --bg-image: url(/images/cover-image-dark.png); /* фон по макету */
  --color-background-primary: #04002f; /* цвет фонового изображения  */
  --accent-color: 4px 4px 0 #ff0070; /* тень в заголовки и в статье*/
  --br-color: #ff0070; /* цвет  фона  */
  --text-color: #ff0070; /* цвет текста  */
  --text-color-title: #000028;
  --text-color-section:  #FF0070;
  --title-color: #db00ff; /* цвет заголовка  */
  --article-color: #f1b2ce; /* цвет текса во всей статье   */

  --font-weight-headings: 700; /* Вес шрифта для заголовков */
  --font-family: "IBM Plex Mono", sans-serif; /* шрифт  */
  --font-size: 18px; /* размер шрифта */
  --font-size-title: 116px; /* размер шрифта для заголовка */
  --font-weight-article: 400; /* вес шрифта статей */

  --decorative-element:#ff0070;
}
